@font-face {
  font-family: 'nunito';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/assets/font/Nunito/Nunito-ExtraLight.ttf');
}

@font-face {
  font-family: 'nunito';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('/assets/font/Nunito/Nunito-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/assets/font/Nunito/Nunito-Light.ttf');
}

@font-face {
  font-family: 'nunito';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/assets/font/Nunito/Nunito-LightItalic.ttf');
}

@font-face {
  font-family: 'nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/font/Nunito/Nunito-Regular.ttf');
}

@font-face {
  font-family: 'nunito';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/font/Nunito/Nunito-Italic.ttf');
}

@font-face {
  font-family: 'nunito';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/font/Nunito/Nunito-Medium.ttf');
}

@font-face {
  font-family: 'nunito';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/font/Nunito/Nunito-MediumItalic.ttf');
}

@font-face {
  font-family: 'nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/font/Nunito/Nunito-SemiBold.ttf');
}

@font-face {
  font-family: 'nunito';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/font/Nunito/Nunito-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/font/Nunito/Nunito-Bold.ttf');
}

@font-face {
  font-family: 'nunito';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/font/Nunito/Nunito-BoldItalic.ttf');
}

@font-face {
  font-family: 'nunito';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/assets/font/Nunito/Nunito-ExtraBold.ttf');
}

@font-face {
  font-family: 'nunito';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('/assets/font/Nunito/Nunito-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: 'nunito';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/assets/font/Nunito/Nunito-Black.ttf');
}

@font-face {
  font-family: 'nunito';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('/assets/font/Nunito/Nunito-BlackItalic.ttf');
}
